.navButtons__list {
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0;
    justify-content: center;
    gap: 20px;  
}

.navButtons__item {
    list-style: none;
}

.navButtons__button {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    will-change: filter;
}

.navButtons__button:hover {
    color: #ffffff;
    background-color: #000000;
    filter: drop-shadow(0 0 1em #646cffaa);
}