.header {
    display: flex;
    gap: 10px;
  }
  
  .header__logo {
    width: 80px;
    will-change: filter;
  }
  
  .header__logo:hover {
    filter: drop-shadow(0 0 2em #646cff);
  }
  
  .header__title {
    text-transform: uppercase;
  }